@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, white, blue);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
  margin-right: 10%; 
  margin-left: -10%; 
}

.pokedex {
  width: 200%;
  max-width: 600px;
}

.fondo {
  display: block;
  position: absolute;
  bottom: 41%;
  left: 37%;
  z-index: -2;
  height: 21%;
}

#input {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon_imagen {
  display: block;
  position: absolute;
  bottom: 46%;
  left: 52%;
  z-index: -1;
  height: 10%;
  /* transform: translate(-27%, 5%) */;
}

.pokemon_shiny {
  display: none;
  position: absolute;
  bottom: 46%;
  left: 52%;
  z-index: -1;
  height: 10%;
  /* transform: translate(-27%, 5%) */;
}

.pokemon_info {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: ;
}

.pokemon_datos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
}

.botones {
  position: absolute;

}

.busqueda {
  position: absolute;
}

