@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

.pokedex {
  width: 100%;
  max-width: 600px;
}

#input {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
