@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

body {
  text-align: center;
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
  margin-right: 10%;
  margin-left: -10%;
}

/* Imagen de la pokédex */

.pokedex {
  position: relative;
  width: 200%;
  max-width: 600px;
  z-index: -1;
}

/* Fondo del Pokémon */

.fondo {
  display: block;
  position: absolute;
  bottom: 61%;
  left: 63%;
  z-index: -3;
  height: 30%;
}

/* Buscador */

.input {
  outline: none;
  border: 4px solid #333;
  border-radius: 5px;
  background-color: #b2e7bc;
  font-weight: 600;
  color: #292929;
  font-size: clamp(8px, 5vw, 1rem);
}

.busqueda {
  position: absolute;
  top: 55.7%;
  left: 78.2%;
}

/* Imágenes */

.pokemon_imagen {
  display: block;
  position: absolute;
  bottom: 72%;
  left: 95%;
  z-index: -1;
  height: 10%;
}

.pokemon_shiny {
  display: block;
  position: absolute;
  bottom: 72%;
  left: 95%;
  z-index: -1;
  height: 10%;
}

/* Nombre y número del Pokémon */

.pokemon_info {
  position: absolute;
  width: 258px;
  transform: scale(0.9);
  background: rgb(0, 239, 80, 60%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 28px;
  border: 4px solid #333;
  color: rgb(17, 17, 17);
  top: 10%;
  left: 69%;
  z-index: -2;
}

.pokemon_numero {
  display: none;
}

.pokemon_nombre::first-letter {
  text-transform: uppercase;
}

.tipos {
  position: absolute;
  list-style: none;
  display: flex;
  justify-content: space-between;
  top: 33%;
  left: 77%;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ffdc6a;
  border-radius: 5px;
  font-weight: 600;
  border: 4px solid #333;
  color: rgb(17, 17, 17);
}

/* Estadísticas Pokémon */

.pokemon_datos {
  position: absolute;
  list-style: none;
  top: 57%;
  left: 62%;
  border-collapse: separate;
  border-spacing: 5px;
  width: 80%;
  transform: scale(0.8);
}

/* Botones */

.botones {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 65.3%;
  left: 64%;
  width: 50%;
  transform: translate(-57%, 0);
  gap: 20px;
}

.boton {
  width: 50%;
  padding: 1.2%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(2px, 2vw, 0.9rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.boton:active {
  box-shadow: inset -4px 4px 0 #222;
  transform: scale(0.93);
}

/* Lista desplegable */

#coincidencias {
  display: none;
  background-color: #444;
  color: white;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  max-height: 233px;
  overflow-y: auto;
  list-style: none;
}

#coincidencias li {
  cursor: pointer;
}
#coincidencias::-webkit-scrollbar {
  background: #444;
  border: 1px solid black;
  border-radius: 2px;
}

#coincidencias::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  cursor: grab;
}

/* Background animado */
html,
body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: absolute;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  z-index: -4;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

  &:nth-child(1) {
    margin-left: -25%;
    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(3) {
    margin-left: 25%;
    &::after {
      animation-delay: 2.5s;
    }
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
